/* GENERAL */
html, body /* prevents scrolling */
{
    height: 100%;
    overflow: hidden;
    margin: 0;
}
body 
{
    background-color: #202020;
    font-family: "Montserrat", sans-serif;
}

h1 { color: #ffd000; text-align: center; }
h2 { color: #E6BE30; text-align: center; margin: 0; }
h3 { color: #A9A9A9; text-align: center; margin: 0; }
h4, h6 { color: #A9A9A9; text-align: justify; margin: 0; }
a { text-decoration: none; }

section 
{
    display: flex;
    align-items: center;
}

button 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #110d0d;
    font-family: "Montserrat", sans-serif;
    color: #E6BE30;
}
button:focus { outline: none; }

@media(orientation: landscape)
{
    h1 { font-size: 12vw; margin: 3vw; }
    h2 { font-size: 10vw; }
    h3 { font-size: 5vw; padding: 0.1vw; }
    h4 { font-size: 2vw; padding: 1vw; }
    h6 { font-size: 1.5vw; padding: 1vw;  }
}
@media(orientation: portrait)
{
    h1 { font-size: 12vh; margin: 3vh; }
    h2 { font-size: 10vh; }
    h3 { font-size: 5vh; padding: 0.1vh; }
    h4 { font-size: 2vh; padding: 1vh; }
    h6 { font-size: 1.5vh; padding: 1vh; }
}



/* START MENU */
.menu 
{ 
    flex-direction: column; 
    justify-content: center; 
    height: 100%;
    margin: 0; 
}
.menu button 
{ 
    width: 70vw; 
    height: 10vh; 
    border-radius: 30px;
    transition: all 0.5s;
}
@media (orientation: portrait) 
{
    .menu button { font-size: 7vw; margin: 1vw; }
}
@media (orientation: landscape) 
{
    .menu button { font-size: 7vh; margin: 1vh; }
}



/* GAME RULES */
.rules 
{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%;
    width: 100%;
    margin: 0; 
}
img 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 120px;
}
@media (orientation: portrait) 
{
    .rules { flex-direction: column; }
    img { padding: 2vw; width: 90%; }
}
@media (orientation: landscape) 
{
    .rules { flex-direction: row; }
    .rules-instruction { width: 50%; }
    .rules-credits { width: 50%; }
    img { padding: 2vh; width: 90%; }
}



/* PLAY MODE */
.play 
{ 
    display: flex; 
    height: 100%; 
    width: 100%;
    justify-content: center; 
    align-items: center; 
}
.play div { color: #A9A9A9; }
#canvas { display: flex; width: 100%; height: 100%; }
.canvas-section 
{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 4%;
}
@media (orientation: portrait)
{
    .play { flex-direction: column; }
    .canvas-section { height: 80vw; width: 80vw; }
    .size-section { margin-top: 5vw; }
    .size-section h3 { font-size: 3vh; }
    .size-btn 
    { 
        font-size: 3vh; 
        width: 5vw; 
        height: 5vw; 
        margin: 1vh; 
        line-height: 100%;
    }
    .size-value { font-size: 3vh; }
}
@media (orientation: landscape) 
{
    .play { flex-direction: row; }
    .canvas-section { height: 80vh; width: 80vh; }
    .size-section { margin-top: 5vh; }
    .size-section h3 { font-size: 3vw; }
    .size-btn 
    { 
        font-size: 3vw; 
        width: 5vh; 
        height: 5vh; 
        margin: 1vw; 
        line-height: 100%;
    }
    .size-value { font-size: 3vw; }
}




/* RANKING */
.ranking
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}