/* GENERAL */
html, body /* prevents scrolling */
{
    height: 100%;
    overflow: hidden;
    margin: 0;

    background-color: #202020;
    font-family: "Montserrat", sans-serif;
}
a { text-decoration: none; }

section 
{ 
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100%;
    width: 100%;
}

button 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #110D0D;
    color: #E6BE30;
    font-family: "Montserrat", sans-serif;
}
button:focus { outline: none; }

@media(orientation: landscape)
{
    h1 { font-size: 12vw; margin: 3vw; }
    h2 { font-size: 10vw; }
    h3 { font-size: 5vw; padding: 0.1vw; }
    h4 { font-size: 2vw; padding: 1vw; }
    h6 { font-size: 1.5vw; padding: 1vw;  }
}
@media(orientation: portrait)
{
    h1 { font-size: 12vh; margin: 3vh; }
    h2 { font-size: 10vh; }
    h3 { font-size: 5vh; padding: 0.1vh; }
    h4 { font-size: 2vh; padding: 1vh; }
    h6 { font-size: 1.5vh; padding: 1vh; }
}

h1 { color: #FFD000; text-align: center; }
h2 { color: #E6BE30; text-align: center; margin: 0; }
h3 { color: #A9A9A9; text-align: center; margin: 0; }
h4, h6 { color: #A9A9A9; text-align: justify; margin: 0; }



/* START MENU */
#menu { flex-direction: column; }
#menu button
{
    width: 70vw; 
    height: 10vh; 
    transition: all 0.5s;
}
@media (orientation: portrait) 
{
    #menu button { font-size: 7vw; margin: 1vw; border-radius: 2vw; }
}
@media (orientation: landscape) 
{
    #menu button { font-size: 7vh; margin: 1vh; border-radius: 1.5vh; }
}



/* PLAY SETUP (AKA SETTINGS) */
#setup 
{
    display: none;
    flex-direction: column;
    color: #A9A9A9;
    justify-content: space-around;
}
#setup > div 
{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    height: 50vh;
}
#nick-section, #size-section 
{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#size-section div
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#setupSaveButton { border-radius: 0.5em; }
@media (orientation: portrait)
{
    #nick-section p, #size-section p 
    { 
        font-size: 3vh; 
        font-weight: bold; 
        margin: 2.5vw;
    }
    #nick-value
    { 
        font-size: 6vw;
        text-align: center; 
        width: 80%;
    }
    #size-section div { font-size: 4vh; }
    #size-section button 
    { 
        font-size: 3vh; 
        height: 3vh; 
        width: 3vh; 
        margin: 1vh;
    }
    #setupSaveButton
    { 
        font-size: 3vh; 
        height: 5vh; 
        width: fit-content; 
        padding: 2vh;
    }
}
@media (orientation: landscape) 
{
    #nick-section p, #size-section p 
    { 
        font-size: 3vw; 
        font-weight: bold; 
        margin: 2.5vh;
    }
    #nick-value
    { 
        font-size: 6vh;
        text-align: center; 
    }
    #size-section div { font-size: 4vw; }
    #size-section button 
    { 
        font-size: 3vw; 
        height: 3vw; 
        width: 3vw; 
        margin: 1vh;
    }
    #setupSaveButton
    { 
        font-size: 3vw; 
        height: 3vw; 
        width: fit-content; 
        padding: 2vw;
    }
}



/* PLAY MODE */
#play div { color: #A9A9A9; }
#info 
{ 
    display: flex;
    flex-direction: column;
    align-items: center; 
}
#canvas-section 
{ 
    background-color: #110D0D; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
#canvas 
{ 
    width: calc(100% - 6px); 
    height: calc(100% - 6px); 
    margin: 0;
}
#buttons-section button { border-radius: 0.5em; }
@media (orientation: portrait)
{
    #play { flex-direction: column; }
    #info { width: 100%; height: 30%; }
    #buttons-section
    {
        display: flex;
        justify-content: space-around;
        width: 90%; 
        margin-top: auto;
        margin-bottom: auto;
    }
    #buttons-section button 
    { 
        font-size: 2vh; 
        margin: 1vw;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        height: fit-content; 
        width: 40%;
    }
    #canvas-section { width: 80vw; height: 80vw; }
}
@media (orientation: landscape) 
{
    #play { justify-content: space-around; }
    #info { width: calc(100vw - 100vh); height: 80%;  }
    #buttons-section
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%; 
        margin-top: auto;
        width: fit-content;
    }
    #buttons-section button 
    { 
        height: fit-content; 
        width: 100%;
        font-size: 2vw; 
        margin: 1vh;
        padding: 1vh;
    }
    #canvas-section { width: 80vh; height: 80vh; }
}

/* GAME OVER */
#gameover 
{ 
    font-family: "SegoeUI", sans-serif;
    position: absolute; 
    text-align: center;
    width: 80%;
    left: 10%;
    top: 0; 

    flex-direction: column;
    display: none;
}
#gameover h2 { -webkit-text-stroke: 0.02em black; }
#result 
{  
    color:  azure; 
    -webkit-text-stroke: 0.02em #110D0D; 
    width: 100%;
    margin: 0;
}
#retryButton
{ 
    position: absolute; 
    margin-top: auto; 
    bottom: 5vh; 
    width: fit-content; 
    height: fit-content;
    border-radius: 0.5em;
}
@media (orientation: portrait)
{
    #gameover h2 { font-size: 15vw; }
    #result { font-size: 8vw; }
    #retryButton
    { 
        font-size: 3vw; 
        margin: 1vw;
        padding: 1vw;
    }
}
@media (orientation: landscape)
{
    #gameover h2 { font-size: 15vh; }
    #result { font-size: 8vh; }
    #retryButton
    { 
        font-size: 3vh; 
        margin: 1vh;
        padding: 1vh;
    }
}

/* GAME RULES */
img 
{
    display: block;
    margin-left: auto; margin-right: auto;
}
#rules-instruction, #rules-credits { padding-left: 1.5%; padding-right: 1.5%; }
@media (orientation: portrait) 
{
    #rules { flex-direction: column; }
    img { padding: 2vw; width: 80%; border-radius: 10vw; }
}
@media (orientation: landscape) 
{
    #rules-instruction, #rules-credits { width: 50%; }
    img { padding: 2vh; width: 80%; border-radius: 10vh; }
}



/* RANKING */
#ranking
{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0; 
}
#ranking-header, #ranking-list
{ 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    color: #A9A9A9;
}
#ranking-list div
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#ranking-size-section 
{ 
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(orientation: portrait)
{
    #ranking { flex-direction: column; }
    #ranking h3 { font-size: 8vw; }
    #ranking-header 
    {    
        padding-top: 2vh;
        padding-bottom: 2vh;
        width: 100%; 
    }
    #ranking-list
    {    
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 5vh;
    }
    #ranking-list div p
    {
        padding-top: 1vw;
        padding-bottom: 1vw;
        font-size: 5vw;
        margin: 0;
    }
    #ranking-size-section { font-size: 3vh; }
    #ranking-size-section button 
    { 
        font-size: 3vh; 
        height: 3vh; 
        width: 3vh; 
        margin: 1vh;
    }
}
@media(orientation: landscape)
{
    #ranking h3 { font-size: 8vh; }
    #ranking-header 
    {    
        padding-left: 5vw;
        padding-right: 5vw;
        width: 50%;
    }
    #ranking-list
    {    
        width: 50%;
        padding: 5vw;
    }
    #ranking-list div p
    {
        padding-top: 1vh;
        padding-bottom: 1vh;
        font-size: 5vh;
        margin: 0;
    }
    #ranking-size-section { font-size: 5vh; }
    #ranking-size-section button 
    { 
        font-size: 6vh; 
        height: 6vh; 
        width: 6vh; 
        margin: 1vh;
    }
}
